<div class="row">
  <div class="well col-md-6">
    <p><h4><u><%= post.title %></u></h4></p>
    <p><%= post.content %></p>
    <p><%= post.comments.size %> comments </p>

    <small><p><%= post.created_at.strftime("%b %d, %Y") %>  
      <% if post.user != nil %>
        by <%= link_to post.user[:nickname], user_path(post.user) %>
      <% end %>
    </p></small>
    
    <p>
      <% post.categories.each do |category| %>
        <span class="btn btn-danger"><%= link_to category.title, category_path(category), {:style=>'color: white;'} %></span>
      <% end %>
    </p>
    <span>
      <% if show %>
        <% if current_user && current_user.author?(post.id) %>
          <%= link_to "Edit Post", edit_post_path(post.id) %> 
          <%= link_to "Delete Post", delete_path(post.id) %> 
        <% end %>
      <% else %>
      <%= link_to "show post", post_path(post) %>
      <% end %>
    </span>
  </div>
</div>